body {
    font-family: sans-serif;
    background-image: url(../images/background-stone.jpg)
}

p {
    margin: 10px;
}

h1{
    font-size:40px;
}

h2{
    margin: 10px;
    font-size: 40px;
}

.title {
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    width: 970px;
    padding-left: 10px;
    margin: 10px 0px;
}

.gameRules {
    color: white;
    background-color: burlywood;
    width: 980px;
    padding: 10px 0px;
}

.crystalRow {
    margin: 10px 0px;
    background-color: darkslategray;
    width: 970px;
    padding: 10px 0px 10px 10px;
}

.crystal {
    display: inline-block;
}

.scoreBoard {
    margin-top: 10px;
    height: 60 px;
    background-color: white;
    width: 980px;
}

.scoreDeclare {
    margin: 10px 0px;
    background-color: darkslategray;
    width: 970px;
    padding: 10px 0px 10px 10px;
}

.randomNumberDisplay {
    display: inline-block;
    float: left;
    margin-right: 120px;
}

.win-loss-record {
    display: inline-block;
}